@import "config.scss";
@import "util.scss";


/*
body
{
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}
*/

.left_menu
{
    border: 1px solid silver;
    width: 300px;
    height: 100%;
    padding: 8px;
}


@mixin rotate($ang)
{
    -webkit-transform: rotate($ang);
    -moz-transform: rotate($ang);
    -ms-transform: rotate($ang);
    -o-transform: rotate($ang);
    transform: rotate($ang);
}

.board
{
    position: absolute;
}

.board .cell
{
    position: absolute;
    width: $cell_size;
    height: $cell_size;
    //transition: opacity 1s ease;
}
/*
.board .cell:hover
{
    opacity: 0.2;
}
*/

/*
.rise
{
    animation-duration: 1s;
    animation-name: rise;
}

h1 {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
*/





.board .sectoid
{
    position: absolute;
}

$sectoid_offset: ($cell_size - $sector_img_size) / 2;
.board .sectoid .sector
{
    position: absolute;
    top: $sectoid_offset;
    left: $sectoid_offset;
    width: $sector_img_size;
    height: $sector_img_size;
    background-size: 100%;
    z-index: 10;
    
    transition: background-image 0.5s ease;
    transition: margin-left 0.5s ease, margin-top 0.5s ease; 
    
    // used with .floating
    //transition: left 0.5s ease, top 0.5s ease;
}
@for $i from 0 to 8
{
    .board .sectoid .sector_#{$i}
    {
        background-image: url(#{$image_path}sector_#{$i}.png);
    }
    .board .sectoid .sector_#{$i}.lit
    {
        background-image: url(#{$image_path}sector_#{$i}_lit.png);
    }
}
/*
.board .sectoid .sector.floating
{
    top: $sectoid_offset - $float_offset;
    left: $sectoid_offset - $float_offset;
    z-index: 20;
}
*/

$center_offset: ($cell_size - $center_img_size) / 2;
.board .sectoid .center
{
    position: absolute;
    top: $center_offset;
    left: $center_offset;
    width: $center_img_size;
    height: $center_img_size;
    background-image: url(#{$image_path}center.png);
    background-size: 100%;
    z-index: 15;
    
    transition: opacity 0.5s ease;
}
.board .sectoid.prime .center
{
    background-image: url(#{$image_path}center_prime.png);
}

$overlay_offset: ($cell_size - $overlay_img_size) / 2;
.board .sectoid .overlay
{
    position: absolute;
    top: $overlay_offset;
    left: $overlay_offset;
    width: $overlay_img_size;
    height: $overlay_img_size;
    z-index: 100;
}

/*
.board .sector
{
    position: absolute;
    width: $sectoid_size;
    height: $sectoid_size;
    border-radius: 50%;
    background: linear-gradient(-45deg, orange 50%, transparent 50%) 100% 0;
    background-repeat: no-repeat;
    background-size: 50% 50%;
}

@for $i from 0 to 8
{
    .board .sector_#{\$i}
    {
        @include rotate(\$i * 45deg - 67.5deg);
        top : -2px * cos(\$i * 45deg);
        left:  2px * sin(\$i * 45deg);
    }
}

.board .center
{
    position: absolute;
    width: $center_size;
    height: $center_size;
    top: ($sectoid_size - $center_size) / 2;
    left: ($sectoid_size - $center_size) / 2;
    border-radius: 50%;
    background-color: red;
}
*/

.cell.void
{
}
.cell.permanent
{
}

.cell.player_0
{
    background-color: silver;
}
.cell.player_1
{
    background-color: red;
}
.cell.player_2
{
    background-color: orange;
}
.cell.player_3
{
    background-color: yellow;
}
