.board {
  position: absolute; }

.cell {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: silver; }

.sectoid {
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border-color: black; }

.sector {
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: linear-gradient(-45deg, orange 50%, transparent 50%) 100% 0;
  background-repeat: no-repeat;
  background-size: 50% 50%; }

.sector_0 {
  -webkit-transform: rotate(-67.5deg);
  -moz-transform: rotate(-67.5deg);
  -ms-transform: rotate(-67.5deg);
  -o-transform: rotate(-67.5deg);
  transform: rotate(-67.5deg);
  top: -2px;
  left: 0px; }

.sector_1 {
  -webkit-transform: rotate(-22.5deg);
  -moz-transform: rotate(-22.5deg);
  -ms-transform: rotate(-22.5deg);
  -o-transform: rotate(-22.5deg);
  transform: rotate(-22.5deg);
  top: -1.41421px;
  left: 1.41421px; }

.sector_2 {
  -webkit-transform: rotate(22.5deg);
  -moz-transform: rotate(22.5deg);
  -ms-transform: rotate(22.5deg);
  -o-transform: rotate(22.5deg);
  transform: rotate(22.5deg);
  top: 0.0px;
  left: 2.0px; }

.sector_3 {
  -webkit-transform: rotate(67.5deg);
  -moz-transform: rotate(67.5deg);
  -ms-transform: rotate(67.5deg);
  -o-transform: rotate(67.5deg);
  transform: rotate(67.5deg);
  top: 1.41421px;
  left: 1.41421px; }

.sector_4 {
  -webkit-transform: rotate(112.5deg);
  -moz-transform: rotate(112.5deg);
  -ms-transform: rotate(112.5deg);
  -o-transform: rotate(112.5deg);
  transform: rotate(112.5deg);
  top: 2.0px;
  left: 0.0px; }

.sector_5 {
  -webkit-transform: rotate(157.5deg);
  -moz-transform: rotate(157.5deg);
  -ms-transform: rotate(157.5deg);
  -o-transform: rotate(157.5deg);
  transform: rotate(157.5deg);
  top: 1.41421px;
  left: -1.41421px; }

.sector_6 {
  -webkit-transform: rotate(202.5deg);
  -moz-transform: rotate(202.5deg);
  -ms-transform: rotate(202.5deg);
  -o-transform: rotate(202.5deg);
  transform: rotate(202.5deg);
  top: 0.0px;
  left: -2.0px; }

.sector_7 {
  -webkit-transform: rotate(247.5deg);
  -moz-transform: rotate(247.5deg);
  -ms-transform: rotate(247.5deg);
  -o-transform: rotate(247.5deg);
  transform: rotate(247.5deg);
  top: -1.41421px;
  left: -1.41421px; }

.center {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 15px;
  left: 15px;
  border-radius: 50%;
  background-color: red; }
