/*
body
{
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}
*/
.left_menu {
  border: 1px solid silver;
  width: 300px;
  height: 100%;
  padding: 8px; }

.board {
  position: absolute; }

.board .cell {
  position: absolute;
  width: 100px;
  height: 100px; }

.board .sectoid {
  position: absolute; }

.board .sector {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 80px;
  height: 80px;
  background-size: 100%; }

.board .sector_0 {
  background-image: url(/image/sector0.png); }

.board .sector_1 {
  background-image: url(/image/sector1.png); }

.board .sector_2 {
  background-image: url(/image/sector2.png); }

.board .sector_3 {
  background-image: url(/image/sector3.png); }

.board .sector_4 {
  background-image: url(/image/sector4.png); }

.board .sector_5 {
  background-image: url(/image/sector5.png); }

.board .sector_6 {
  background-image: url(/image/sector6.png); }

.board .sector_7 {
  background-image: url(/image/sector7.png); }

/*
.board .sector
{
    position: absolute;
    width: $sectoid_size;
    height: $sectoid_size;
    border-radius: 50%;
    background: linear-gradient(-45deg, orange 50%, transparent 50%) 100% 0;
    background-repeat: no-repeat;
    background-size: 50% 50%;
}

@for $i from 0 to 8
{
    .board .sector_\$i
    {
        @include rotate(\$i * 45deg - 67.5deg);
        top : -2px * cos(\$i * 45deg);
        left:  2px * sin(\$i * 45deg);
    }
}

.board .center
{
    position: absolute;
    width: $center_size;
    height: $center_size;
    top: ($sectoid_size - $center_size) / 2;
    left: ($sectoid_size - $center_size) / 2;
    border-radius: 50%;
    background-color: red;
}
*/
.cell.void {
  opacity: 0.5; }

.cell.player_0 {
  background-color: silver; }

.cell.player_1 {
  background-color: red; }

.cell.player_2 {
  background-color: green; }

.cell.player_3 {
  background-color: blue; }
